<div class="title">
    <h1>Docker-compose</h1>
    Welcome to docker-compose with multiple services implementation
</div>

<div class="ikeaContainer">
    <div *ngFor="let ikea of ikeas" class="mb-3 site-card-container">
        <a href="{{ikea.url}}" class="removeAStyle">
            <mat-card class="mr-4 mb-2 sites-card">
                <img mat-card-image class="cover" src="{{ikea.image}}">

                <mat-card-content class="content-site-card">
                    <div>{{ikea.name}}</div>
                </mat-card-content>
            </mat-card>
        </a>
    </div>
</div>
