$widthCard: 18rem;

.ikeaContainer {
    display: flex;
    flex-flow: row wrap;
    margin: 0 -1rem;
}

.title {
    text-align: center;
    background-color: #e3e3e3;
    padding-bottom: 2rem;
    padding-top: 2rem;
    margin-bottom: 4rem;
}

.site-card-container {
    width: calc(#{$widthCard} + 1.8rem);
    padding: 0 1rem;
}

.title h1 {
    margin-top: 0;
}

::ng-deep body {
    margin: 0;
    padding: 0;
    min-height: 100%;
    width: 100%;
}
